<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>STATISTICAL DISTRIBUTIONS</title>
</head>
<body>
    <header>
        <h1>STATISTICAL DISTRIBUTIONS</h1>
        <div class="topnav">
          <a href="/discrete">DISCRETE distribution</a>
          <a class="active" href="/binomial">BINOMIAL distribution</a>
          <a href="/normal">NORMAL distribution</a>
        </div>
    </header>
    <main>
        <div class="subtitle-row">
            <h2>NOTES</h2>
            <h2>EXAMPLES</h2>
            <h2>EXERCISES</h2>
            <h2>EXAM QUESTIONS</h2>
            <h2>CHALLENGE</h2>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Arian Rexhepi</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
